<!DOCTYPE html>
<html ng-app="App">
<head>
    <title ng-bind="models.Title"></title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="MenuController">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">{{Title.Description}}</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in MenuOptions">
                            <a href="{{item.Url}}">{{item.Description}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div ng-view>
            </div>
        </div>

        <div class="jumbotron" ng-controller="CustomersController"> 
            {{Customers}}
        </div>

        <footer>
            <p>&copy; @DateTime.Now - Andrés Mauricio Zapata Caro</p>
        </footer>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-resource.js"></script>

    <script src="~/Scripts/Controllers/Module.js"></script>
    <script src="~/Scripts/Controllers/Services.js"></script>
    <script src="~/Scripts/Controllers/Controllers.js"></script>


    @*@Scripts.Render("~/bundles/App")*@
</body>
</html>